n8n/workflows/vaga-express-product.json
{
  "description": "N8N workflow for Visa2Any automation platform",
  "name": "Vaga Express - Product Automation",
  "version": 1,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vaga-express-purchase",
        "options": {}
      },
      "id": "purchase-webhook",
      "name": "Purchase Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "vaga-express-purchase",
      "description": ""
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst headers = $json.headers;\n\nif (headers['x-webhook-secret'] !== 'visa2any_webhook_secret_2024') {\n  throw new Error('Invalid webhook secret');\n}\n\nconst purchaseData = {\n  purchaseId: body.purchaseId || `VE_${Date.now()}`,\n  clientId: body.clientId,\n  clientName: body.clientName,\n  clientEmail: body.clientEmail,\n  clientPhone: body.clientPhone,\n  plan: body.plan, // BASIC, PREMIUM, VIP\n  amount: body.amount,\n  currency: body.currency || 'BRL',\n  paymentStatus: body.paymentStatus || 'COMPLETED',\n  country: body.country,\n  consulate: body.consulate,\n  visaType: body.visaType,\n  currentAppointmentDate: body.currentAppointmentDate,\n  preferredDateStart: body.preferredDateStart,\n  preferredDateEnd: body.preferredDateEnd,\n  urgencyLevel: body.urgencyLevel || 'MEDIUM',\n  purchaseSource: body.source || 'WEBSITE',\n  createdAt: new Date().toISOString()\n};\n\n// Validar campos obrigatórios\nconst requiredFields = ['clientId', 'clientName', 'clientEmail', 'plan', 'amount', 'country', 'consulate'];\nfor (const field of requiredFields) {\n  if (!purchaseData[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\n// Definir configurações do plano\nconst planConfigs = {\n  'BASIC': {\n    monitoringDays: 30,\n    maxCountries: 1,\n    priority: 2,\n    notificationChannels: ['whatsapp', 'email'],\n    advanceDays: 30,\n    features: ['basic_monitoring', 'standard_notifications'],\n    price: 297\n  },\n  'PREMIUM': {\n    monitoringDays: 60,\n    maxCountries: 2,\n    priority: 3,\n    notificationChannels: ['whatsapp', 'email', 'sms'],\n    advanceDays: 60,\n    features: ['priority_monitoring', 'multi_channel', 'guarantee'],\n    price: 497\n  },\n  'VIP': {\n    monitoringDays: 90,\n    maxCountries: 999,\n    priority: 4,\n    notificationChannels: ['whatsapp', 'email', 'sms', 'phone'],\n    advanceDays: 90,\n    features: ['vip_monitoring', 'dedicated_support', 'unlimited_countries', 'consultancy'],\n    price: 797\n  }\n};\n\nconst planConfig = planConfigs[purchaseData.plan];\nif (!planConfig) {\n  throw new Error(`Invalid plan: ${purchaseData.plan}`);\n}\n\n// Calcular datas de ativação e expiração\nconst activationDate = new Date();\nconst expiryDate = new Date(activationDate.getTime() + planConfig.monitoringDays * 24 * 60 * 60 * 1000);\n\nreturn [{\n  json: {\n    ...purchaseData,\n    planConfig,\n    activationDate: activationDate.toISOString(),\n    expiryDate: expiryDate.toISOString(),\n    serviceStatus: 'ACTIVE'\n  }\n}];"
      },
      "id": "process-purchase",
      "name": "Process Purchase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "description": ""
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/webhook",
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "x-webhook-secret": "visa2any_webhook_secret_2024"
          },
          "body": {
            "action": "insert",
            "data": {
              "table": "vaga_express_subscriptions",
              "columns": "purchase_id, client_id, plan, amount, currency, payment_status, country, consulate, visa_type, current_appointment_date, preferred_date_start, preferred_date_end, urgency_level, monitoring_days, max_countries, priority, notification_channels, advance_days, features, activation_date, expiry_date, status, created_at",
              "values": ["{{ $json.purchaseId }}", "{{ $json.clientId }}", "{{ $json.plan }}", "{{ $json.amount }}", "{{ $json.currency }}", "{{ $json.paymentStatus }}", "{{ $json.country }}", "{{ $json.consulate }}", "{{ $json.visaType }}", "{{ $json.currentAppointmentDate }}", "{{ $json.preferredDateStart }}", "{{ $json.preferredDateEnd }}", "{{ $json.urgencyLevel }}", "{{ $json.planConfig.monitoringDays }}", "{{ $json.planConfig.maxCountries }}", "{{ $json.planConfig.priority }}", "{{ JSON.stringify($json.planConfig.notificationChannels) }}", "{{ $json.planConfig.advanceDays }}", "{{ JSON.stringify($json.planConfig.features) }}", "{{ $json.activationDate }}", "{{ $json.expiryDate }}", "ACTIVE", "{{ $json.createdAt }}"]
            }
          }
        },
        "method": "POST"
      },
      "id": "save-subscription",
      "name": "Save Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "description": ""
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/webhook",
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "x-webhook-secret": "visa2any_webhook_secret_2024"
          },
          "body": {
            "action": "insert",
            "data": {
              "table": "appointment_waitlist",
              "columns": "client_id, country, consulate, visa_type, current_appointment_date, preferred_date_range_start, preferred_date_range_end, priority, notification_methods, max_notice_hours, status, vaga_express_subscription, created_at",
              "values": ["{{ $json.clientId }}", "{{ $json.country }}", "{{ $json.consulate }}", "{{ $json.visaType }}", "{{ $json.currentAppointmentDate }}", "{{ $json.preferredDateStart }}", "{{ $json.preferredDateEnd }}", "{{ $json.planConfig.priority }}", "{{ JSON.stringify($json.planConfig.notificationChannels) }}", "2", "ACTIVE", "{{ $json.purchaseId }}", "{{ $json.createdAt }}"]
            }
          }
        },
        "method": "POST"
      },
      "id": "add-to-priority-waitlist",
      "name": "Add to Priority Waitlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        600,
        0
      ],
      "description": ""
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst plan = data.plan;\nconst planConfig = data.planConfig;\n\n// Mensagem personalizada por plano\nlet welcomeMessage = '';\nlet benefits = [];\nlet planEmoji = '';\n\nswitch (plan) {\n  case 'BASIC':\n    planEmoji = '🥉';\n    benefits = [\n      '✅ Monitoramento por 30 dias',\n      '📱 Notificações WhatsApp + Email',\n      '🎯 1 país/consulado',\n      '⏰ Vagas até 30 dias de antecedência'\n    ];\n    break;\n    \n  case 'PREMIUM':\n    planEmoji = '🥈';\n    benefits = [\n      '✅ Monitoramento por 60 dias',\n      '📱 Notificações multi-canal prioritárias',\n      '🌍 Até 2 países/consulados',\n      '⏰ Vagas até 60 dias de antecedência',\n      '💰 Garantia de reembolso'\n    ];\n    break;\n    \n  case 'VIP':\n    planEmoji = '🥇';\n    benefits = [\n      '✅ Monitoramento por 90 dias',\n      '🚨 Notificação imediata (2 minutos)',\n      '🌎 Países ilimitados',\n      '👑 Prioridade máxima',\n      '👨‍💼 Suporte dedicado',\n      '🎯 Consultoria inclusa'\n    ];\n    break;\n}\n\nwelcomeMessage = `${planEmoji} *VAGA EXPRESS ${plan} ATIVADO!* ${planEmoji}\\n\\n` +\n  `Parabéns ${data.clientName}! Seu monitoramento premium está ativo!\\n\\n` +\n  `🎯 *Seu Plano:*\\n${benefits.join('\\n')}\\n\\n` +\n  `🏛️ *Monitorando:* ${data.consulate}\\n` +\n  `🌍 *País:* ${data.country}\\n` +\n  `📋 *Visto:* ${data.visaType}\\n\\n` +\n  `📅 *Período Desejado:*\\n` +\n  `De: ${data.preferredDateStart ? new Date(data.preferredDateStart).toLocaleDateString('pt-BR') : 'Qualquer data'}\\n` +\n  `Até: ${data.preferredDateEnd ? new Date(data.preferredDateEnd).toLocaleDateString('pt-BR') : 'Qualquer data'}\\n\\n` +\n  `⚡ *Prioridade:* ${planConfig.priority}/4 (${plan})\\n` +\n  `⏰ *Ativo até:* ${new Date(data.expiryDate).toLocaleDateString('pt-BR')}\\n\\n` +\n  `🤖 *Sistema ativo!* Monitoramos cancelamentos a cada 2 minutos\\n` +\n  `📞 Qualquer dúvida, responda esta mensagem!`;\n\n// Email de confirmação\nconst emailSubject = `${planEmoji} Vaga Express ${plan} Ativado - Monitoramento Iniciado`;\n\n// Alerta para equipe\nconst teamAlert = `💰 *VAGA EXPRESS VENDIDO* 💰\\n\\n` +\n  `👤 *Cliente:* ${data.clientName}\\n` +\n  `📧 *Email:* ${data.clientEmail}\\n` +\n  `${planEmoji} *Plano:* ${plan} (R$ ${data.amount})\\n` +\n  `🏛️ *Consulado:* ${data.consulate}\\n` +\n  `🌍 *País:* ${data.country}\\n` +\n  `📋 *Visto:* ${data.visaType}\\n\\n` +\n  `⏰ *Ativo até:* ${new Date(data.expiryDate).toLocaleDateString('pt-BR')}\\n` +\n  `🎯 *Prioridade:* ${planConfig.priority}/4\\n\\n` +\n  `📊 *Status:* ATIVO - Monitoramento iniciado\\n` +\n  `🆔 *Purchase ID:* ${data.purchaseId}`;\n\nreturn [{\n  json: {\n    ...data,\n    welcomeMessage,\n    emailSubject,\n    teamAlert,\n    benefits\n  }\n}];"
      },
      "id": "prepare-welcome-messages",
      "name": "Prepare Welcome Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "description": ""
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/notifications/whatsapp",
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "Authorization": "Bearer {{ $env.VISA2ANY_API_TOKEN }}"
          },
          "body": {
            "phone": "{{ $json.clientPhone }}",
            "message": "{{ $json.welcomeMessage }}",
            "priority": "HIGH",
            "clientId": "{{ $json.clientId }}",
            "campaign": "VAGA_EXPRESS_WELCOME"
          }
        }
      },
      "id": "send-welcome-whatsapp",
      "name": "Send Welcome WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1000,
        -50
      ],
      "description": ""
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/notifications/email",
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "Authorization": "Bearer {{ $env.VISA2ANY_API_TOKEN }}"
          },
          "body": {
            "to": "{{ $json.clientEmail }}",
            "subject": "{{ $json.emailSubject }}",
            "template": "vaga-express-welcome",
            "priority": "HIGH",
            "data": {
              "clientName": "{{ $json.clientName }}",
              "plan": "{{ $json.plan }}",
              "amount": "{{ $json.amount }}",
              "country": "{{ $json.country }}",
              "consulate": "{{ $json.consulate }}",
              "visaType": "{{ $json.visaType }}",
              "benefits": "{{ $json.benefits }}",
              "activationDate": "{{ $json.activationDate }}",
              "expiryDate": "{{ $json.expiryDate }}",
              "purchaseId": "{{ $json.purchaseId }}"
            }
          }
        }
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1000,
        50
      ],
      "description": ""
    },
    {
      "parameters": {
        "message": "{{ $json.teamAlert }}",
        "chatId": "-1001234567890",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-team-sale",
      "name": "Notify Team Sale",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 4,
      "position": [
        1200,
        0
      ],
      "description": ""
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.plan }}",
              "operation": "equal",
              "value2": "VIP"
            }
          ]
        }
      },
      "id": "is-vip-plan",
      "name": "Is VIP Plan?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "description": ""
    },
    {
      "parameters": {
        "jsCode": "// Preparar consultoria VIP personalizada\nconst data = $json;\n\nconst vipConsultancyMessage = `👑 *CONSULTORIA VIP EXCLUSIVA* 👑\\n\\n` +\n  `Olá ${data.clientName}!\\n\\n` +\n  `Como cliente VIP do Vaga Express, você tem direito a uma consultoria especializada GRATUITA!\\n\\n` +\n  `🎯 *Nossa consultoria irá:*\\n` +\n  `• Analisar seu perfil completo\\n` +\n  `• Otimizar suas chances de conseguir vaga\\n` +\n  `• Estratégias personalizadas para ${data.country}\\n` +\n  `• Dicas exclusivas para ${data.consulate}\\n` +\n  `• Preparação para a entrevista\\n\\n` +\n  `📞 *Nossa equipe VIP entrará em contato em até 2 horas!*\\n\\n` +\n  `⏰ Ou agende agora: calendly.com/visa2any-vip\\n\\n` +\n  `🌟 Bem-vindo ao time VIP!`;\n\nconst consultancyScheduling = {\n  clientId: data.clientId,\n  consultancyType: 'VIP_VAGA_EXPRESS',\n  priority: 'URGENT',\n  scheduledFor: new Date(Date.now() + 2 * 60 * 60 * 1000).toISOString(), // 2 hours from now\n  notes: `Cliente VIP Vaga Express - ${data.plan}. País: ${data.country}, Consulado: ${data.consulate}`,\n  status: 'SCHEDULED'\n};\n\nreturn [{\n  json: {\n    ...data,\n    vipConsultancyMessage,\n    consultancyScheduling\n  }\n}];"
      },
      "id": "prepare-vip-consultancy",
      "name": "Prepare VIP Consultancy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -50
      ],
      "description": ""
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/notifications/whatsapp",
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "Authorization": "Bearer {{ $env.VISA2ANY_API_TOKEN }}"
          },
          "body": {
            "phone": "{{ $json.clientPhone }}",
            "message": "{{ $json.vipConsultancyMessage }}",
            "priority": "URGENT",
            "clientId": "{{ $json.clientId }}",
            "campaign": "VIP_CONSULTANCY_OFFER"
          }
        }
      },
      "id": "send-vip-consultancy-whatsapp",
      "name": "Send VIP Consultancy WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1800,
        -100
      ],
      "description": ""
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/n8n/webhook",
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "x-webhook-secret": "visa2any_webhook_secret_2024"
          },
          "body": {
            "action": "insert",
            "data": {
              "table": "vip_consultancy_queue",
              "columns": "client_id, consultancy_type, priority, scheduled_for, notes, status, created_at",
              "values": ["{{ $json.consultancyScheduling.clientId }}", "{{ $json.consultancyScheduling.consultancyType }}", "{{ $json.consultancyScheduling.priority }}", "{{ $json.consultancyScheduling.scheduledFor }}", "{{ $json.consultancyScheduling.notes }}", "{{ $json.consultancyScheduling.status }}", "{{ new Date().toISOString() }}"]
            }
          }
        },
        "method": "POST"
      },
      "id": "schedule-vip-consultancy",
      "name": "Schedule VIP Consultancy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1800,
        0
      ],
      "description": ""
    },
    {
      "parameters": {
        "message": "👑 *VIP CONSULTANCY SCHEDULED* 👑\\n\\n👤 *Cliente:* {{ $json.clientName }}\\n📧 *Email:* {{ $json.clientEmail }}\\n📱 *Phone:* {{ $json.clientPhone }}\\n\\n🎯 *Plano:* {{ $json.plan }}\\n🏛️ *Consulado:* {{ $json.consulate }}\\n🌍 *País:* {{ $json.country }}\\n\\n⏰ *Agendado para:* {{ new Date($json.consultancyScheduling.scheduledFor).toLocaleString('pt-BR') }}\\n\\n📋 *Ação:* Equipe VIP deve entrar em contato em 2 horas!",
        "chatId": "-1001234567890",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "alert-vip-team",
      "name": "Alert VIP Team",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 4,
      "position": [
        2000,
        -50
      ],
      "description": ""
    }
  ],
  "connections": {
    "Purchase Webhook": {
      "main": [
        [
          {
            "node": "Process Purchase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Purchase": {
      "main": [
        [
          {
            "node": "Save Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Subscription": {
      "main": [
        [
          {
            "node": "Add to Priority Waitlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Priority Waitlist": {
      "main": [
        [
          {
            "node": "Prepare Welcome Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Welcome Messages": {
      "main": [
        [
          {
            "node": "Send Welcome WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome WhatsApp": {
      "main": [
        [
          {
            "node": "Notify Team Sale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Notify Team Sale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Team Sale": {
      "main": [
        [
          {
            "node": "Is VIP Plan?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is VIP Plan?": {
      "main": [
        [
          {
            "node": "Prepare VIP Consultancy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare VIP Consultancy": {
      "main": [
        [
          {
            "node": "Send VIP Consultancy WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Schedule VIP Consultancy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send VIP Consultancy WhatsApp": {
      "main": [
        [
          {
            "node": "Alert VIP Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule VIP Consultancy": {
      "main": [
        [
          {
            "node": "Alert VIP Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "America/Sao_Paulo"
  }
}